/* grab DumbShit styles from index.css */
#DumbShit-h2 {
  color: rgba(71, 200, 255, 0.646);
}
#dumbshit-ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-right: 15px;

  li {
    padding: 8px 12px;
    border: 1px solid #7a7a7a;
  }
}
p {
  font-size: 1.2em;
  color: rgba(249, 249, 249, 0.73);
}

/*Mobile responsiveness */
@media (max-width: 600px) {
  #dumbshit-ul {
    flex-direction: column;
    justify-content: center;

    li {
      border: 1px solid #7a7a7a;
    }
  }
}
