/* grab the header styles from index.css */
#header {
  text-align: center;
  font-size: 2rem;
  background-color: #333;
  color: rgba(255, 0, 0, 0.24);
  padding: 20px;
  margin-bottom: 20px;
}
h1 {
  margin: 0;
}
p {
  font-size: 2em;
}
/*Mobile responsiveness */
@media (max-width: 600px) {
  #header {
    font-size: 1.5rem;
  }
}
