:root {
  font-family: Minecraftia;
  line-height: 1.5;
  font-weight: 00;

  color-scheme: light dark;
  color: rgba(148, 255, 205, 0.36);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
  display: flex;
  justify-content: center;
}
img {
  stroke: rgba(148, 255, 205, 0.36);
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(238, 144, 248, 0.582);
  border-radius: 10px;
}

/*Mobile responsiveness */
@media (max-width: 600px) {
  h2 {
    font-size: 1.5em;
  }
}
